:root {
    --bg-color: #f7f7f7;
    --second-bg-color: #ddd;
    --low-contrast-text: #1e1e21;
    --high-contrast-text: #0e0e0e;
    --link-color: #515176;
}
  
.dark-mode {
    --bg-color: #1e1e21;
    --second-bg-color: #333;
    --low-contrast-text: #ddd;
    --high-contrast-text: #f6f6f6;
    --link-color: #a7a7d2;
}
  
body {
    background-color: var(--bg-color);
    color: var(--low-contrast-text);
}

a, a:link {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--high-contrast-text);
}

p, li, ol, ul {
    color: var(--low-contrast-text);
    font-family: "Arial", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.5em;
}

p strong, li strong, ol strong, ul strong {
    font-weight: bold;
}

/* Style for main pages */
.main-page {
    max-width: 600px; /* Limits the width of the content */
    margin: 0 auto; /* Centers the content */
    padding: 20px; /* Adds spacing around the content */
}

/* Style for the blog posts */
.blog-post {
    max-width: 600px; /* Limits the width of the content */
    margin: 0 auto; /* Centers the content */
    padding: 20px; /* Adds spacing around the content */
}

.blog-post img {
    max-width: 90%; /* Ensures the image fits within the container */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes extra space below the image */
    margin: 0 auto; /* Centers the image */
}

.blog-post h1 a, .blog-post h2 a, .blog-post h3 a, .blog-post h4 a, .blog-post h5 a, .blog-post h6 a {
    text-decoration: none;
    color: var(--high-contrast-text);
}

.blog-post h1 a:hover, .blog-post h2 a:hover, .blog-post h3 a:hover, .blog-post h4 a:hover, .blog-post h5 a:hover, .blog-post h6 a:hover {
    text-decoration: underline;
}

/* Style for tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    padding: 1.5em;
}

thead {
    color: var(--high-contrast-text);
}

tbody {
    color: var(--low-contrast-text);
    line-height: 2em;
}

/* Style for the header */
.header-content {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center; /* Align vertically */
}
  
.header-image img {
    width: 100%;
    height: auto;
}

.header-svg svg {
    width: 100%;
    height: auto;
    stroke: var(--high-contrast-text);
}

.header {
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--bg-color);
    color: var(--high-contrast-text);
}
  
.header h1 {
    margin: 0;
}

.header a:link, .header a:visited {
    color: var(--high-contrast-text);
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}

svg {
    width: 100%;
    height: auto;
    background-color: var(--bg-color);
    stroke: var(--high-contrast-text);
}

.header img {
    width: 100%;
    height: auto;
}
  
nav {
    display: flex;
    gap: 15px;
    align-items: center;
}
  
nav a {
    text-decoration: none;
    color: var(--high-contrast-text);
    padding: 5px 10px;
    transition: background-color 0.3s;
}
  
nav a:hover {
    background-color: var(--second-bg-color);
    border-radius: 5px;
    text-decoration: none;
}
  
.icon-toggle {
    margin-left: 10px;
}

/* Style for the dark mode toggle switch */
.icon-toggle {
    cursor: pointer;
    font-size: 1.5em;
}

.icon-toggle .icon {
display: none;
}

.icon-toggle.light-mode .dark-icon {
display: inline;
}

.icon-toggle.dark-mode .light-icon {
display: inline;
}

/* Style for welcome graphics */
.welcome-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust for 2-4 blocks */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.welcome-block {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--high-contrast-text);
    font-size: 2em;
    border-radius: 8px;
}

.welcome-block a {
    text-decoration: none;
    color: inherit;
}

.welcome-svg {
    stroke: var(--link-color);
    stroke-width: 0.5;
    fill: none;
    width: 100%;
    height: 100%;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--high-contrast-text);
    text-shadow: 1px 1px var(--bg-color);
    font-size: 1.5em;
    pointer-events: none; /* Ensures text doesn't interfere with SVG interaction */
}

.welcome-link {
    text-decoration: none; /* Remove underline from link */
    display: block; /* Make the link area cover the block */
}

.welcome-link:hover .welcome-svg {
    stroke: var(--low-contrast-text);
}
